.pulse{
    position: relative;
    width: 10px;
    height: 10px;
    /* box-shadow: inset 0 0 40px #12b9ff,
    0 0 50px #12b9ff; */
    border-radius: 50%;
    border: 1px solid #12b9ff;
}

.pulse span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: transparent;
    border: 1px solid #12b9ff;
    animation: animate 6s linear infinite;
    animation-delay: calc(var(--i)* 2s);
    border-radius: 50%
}

@keyframes animate{
    0%{
        width: 10px;
        height: 10px;
        opacity: 1;

    }
    50%{
        width: 10px;
        height: 10px;
        opacity: 1;
        
    }
    100%{
        width: 40px;
        height: 40px;
        opacity: 0;
        
    }
}