@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: 'Roboto', sans-serif;
   
}

.logo-wrapper {
  background-color: rgb(247, 247, 247);
  padding: 0.2rem 0.5rem !important;
  margin: 0 0rem !important;
  border-radius: 5px;
  box-shadow: whitesmoke;
  height: 50px;
  width: 100px;
  max-width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-wrapper img {
  max-width: 270px;
  max-height: 100%;
  width: 80px;
  height: 38px;
  /* object-fit: contain; */
}

.logo-wrapper2 {
  position: absolute;
  top:1rem;
  left: 1rem;
  background-color: var(--background_panel);
  display: flex;
  padding: 5px;
  max-width: 350px;
  height: 60px;
  width: 150px;
  border-radius: 5px;
  z-index: 13;
  pointer-events: all;
  align-items: center;
  overflow: hidden;
  transition: all 800ms linear !important;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Medium screen responsive styles (Tablet) */
  @media screen and (min-width: 861px) and (max-width: 1080px) {
    top: 0.5rem;
    left: 0.5rem;
    width: 100px;
    height: 40px;
  }
  /* Mobile responsive styles */
  @media screen and (max-width: 860px) {
    top: 0.5rem;
    left: 0.5rem;
    width: 90px;
    height: 35px;
  }
}
.logo-wrapper2 img {
  background: rgb(247, 247, 247);
  border-radius: 5px;
  max-width: 270px;
  max-height: 100%;
  width: 130px;
  height: 48px;
  padding: 5px;
  /* Medium screen responsive styles (Tablet) */
  @media screen and (min-width: 861px) and (max-width: 1080px) {
    width: 100px;
    height: 35px;
  }
  /* Mobile responsive styles */
  @media screen and (max-width: 860px) {
    width: 80px;
    height: 30px;
  }
}

/* Mobile responsive styles */
@media screen and (max-width: 860px) {
  .logo-wrapper {
    background-color: rgb(247, 247, 247);
    padding: 0.2rem 0.5rem !important;
    margin: 0 0rem !important;
    border-radius: 2px;
    box-shadow: whitesmoke;
    height: 30px;
    width: 60px;
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-wrapper img {
    max-width: 100px;
    max-height: 100%;
    width: 40px;
    height: 20px;
    /* object-fit: contain; */
  }
}

/* Medium screen responsive styles (860px - 1080px) */
@media screen and (min-width: 861px) and (max-width: 1080px) {
  .logo-wrapper {
    background-color: rgb(247, 247, 247);
    padding: 0.2rem 0.5rem !important;
    margin: 0 0rem !important;
    border-radius: 2px;
    box-shadow: whitesmoke;
    height: 30px;
    width: 60px;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-wrapper img {
    max-width: 150px;
    max-height: 100%;
    width: 60px;
    height: 20px;
    /* object-fit: contain; */
  }
}

.overlay-can-fade-out{
  transition: all 200ms linear;
}



.btn-primary-ok, .ant-btn-primary {
  background-color: #1677ff !important;
  color: white !important;
  }
  
  .ant-btn.ant-btn-default {
    background-color: white !important;
    color: #303030 !important;
}

.ant-btn-dangerous{
  background-color: #ff4d4f !important;
}
.ant-tag{
  padding: 0.5rem 1rem;
  font-size: 1rem;
}