@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: 'Roboto', sans-serif;
   
}

.logo-wrapper{
  background-color: rgb(247, 247, 247);
  padding: 0.2rem 0.5rem !important;
  margin: 0 0.5rem !important;
  border-radius: 5px;
  box-shadow: whitesmoke;
  max-width: 100px;
}

.logo-wrapper img{
  max-width: 70px;
  height: auto;
  scale: 1.3;
}

/* Mobile responsive styles */
@media screen and (max-width: 860px) {
  .logo-wrapper{
    padding: 0.15rem 0.3rem !important;
    margin: 0 0.3rem !important;
    border-radius: 3px;
    max-width: 60px;
  }

  .logo-wrapper img{
    max-width: 45px;
    scale: 1.1;
  }
}

/* Medium screen responsive styles (860px - 1080px) */
@media screen and (min-width: 861px) and (max-width: 1080px) {
  .logo-wrapper{
    padding: 0.18rem 0.4rem !important;
    margin: 0 0.4rem !important;
    border-radius: 4px;
    max-width: 80px;
  }

  .logo-wrapper img{
    max-width: 55px;
    scale: 1.2;
  }
}

.overlay-can-fade-out{
  transition: all 200ms linear;
}



.btn-primary-ok, .ant-btn-primary {
  background-color: #1677ff !important;
  color: white !important;
  }
  
  .ant-btn.ant-btn-default {
    background-color: white !important;
    color: #303030 !important;
}

.ant-btn-dangerous{
  background-color: #ff4d4f !important;
}
.ant-tag{
  padding: 0.5rem 1rem;
  font-size: 1rem;
}